# Logistic Regression Example
## Bank dataset to determine if a customer would buy a CD
The data is related with direct marketing campaigns of a Portuguese banking institution.  The marketing campaigns were based on phone calls.  A number of features such as age, kind of job, marital status, education level, credit default, existence of housing loan, etc. were considered.  The classification goal is to predict if the client will subscribe (yes/no) a term deposit.

More information regarding the data set is at https://archive.ics.uci.edu/ml/datasets/bank+marketing#.

<font color='blue'>__ The objective is to demonstrate the use of logistic regression and to tune hyperparameters enet_lamba and enet_alpha. __</font>

## Attribute Information:

### Input variables:
#### Bank client data:
1. age (numeric)
2. job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3. marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4. education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5. default: has credit in default? (categorical: 'no','yes','unknown')
6. housing: has housing loan? (categorical: 'no','yes','unknown')
7. loan: has personal loan? (categorical: 'no','yes','unknown')

#### Related with the last contact of the current campaign:
8. contact: contact communication type (categorical: 'cellular','telephone') 
9. month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10. day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11. duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.

#### Other attributes:
12. campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13. pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14. previous: number of contacts performed before this campaign and for this client (numeric)
15. poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')

#### Social and economic context attributes:
16. emp.var.rate: employment variation rate - quarterly indicator (numeric)
17. cons.price.idx: consumer price index - monthly indicator (numeric) 
18. cons.conf.idx: consumer confidence index - monthly indicator (numeric) 
19. euribor3m: euribor 3 month rate - daily indicator (numeric)
20. nr.employed: number of employees - quarterly indicator (numeric)

### Output variable (desired target):
21. y - has the client subscribed a term deposit? (binary: 'yes','no')

# Initialization
Set up the imports, logging, and loading of the data sets.

Hana ML Library can be found at: [https://pypi.org/project/hana-ml/](https://pypi.org/project/hana-ml/) [Documentation](https://help.sap.com/doc/1d0ebfe5e8dd44d09606814d83308d4b/2.0.05/en-US/index.html)

Verify with: 
```
pip list | grep hana
```

In [1]:
from hana_ml import dataframe

In [2]:
from hana_ml.algorithms.pal import linear_model

In [3]:
from hana_ml.algorithms.pal import clustering

In [4]:
from hana_ml.algorithms.pal import trees

In [5]:
import numpy as np

In [6]:
import numpy as np

In [7]:
import matplotlib.pyplot as plt

In [8]:
import logging

In [9]:
from IPython.core.display import Image, display

## Load data
The data is loaded into 3 tables, one for the test set, another for the training set, and finally the validation set:
<li>DBM2_RTEST_TBL</li>
<li>DBM2_RTRAINING_TBL</li>
<li>DBM2_RVALIDATION_TBL</li>

To do that, a connection is created and passed to the loader.

There is a config file, config/e2edata.ini that controls the connection parameters and whether or not to reload the data from scratch.  In case the data is already loaded, there would be no need to load the data.  A sample section is below.  If the config parameter, reload_data is true then the tables for test, training, and validation are (re-)created and data inserted into them.

Although this ini file has other sections, please do not modify them. Only the [hana] section should be modified.

#########################<br>
[hana]<br>
url=host.sjc.sap.corp<br>
user=username<br>
passwd=userpassword<br>
port=3xx15<br>
#########################<br>

https://blogs.sap.com/2020/01/16/hana-ml-dataframe-end-to-end-methods-and-its-usage/

https://blogs.sap.com/2019/09/03/association-algorithms-hana-ml-apis/

In [10]:
from data_load_utils import DataSets, Settings

In [26]:
url, port, user, pwd, schema, cert = Settings.load_config("../config/e2edata.ini")

```
cf create-service hana schema BANK_DIR_MKTG -c '{"database_id":"ffa845c4-c70e-4774-ba37-c0a6fdf16850","schema":"BANK_DIR_MKTG"}'
cf create-service-key BANK_DIR_MKTG BANK_Key
cf service-key BANK_DIR_MKTG BANK_Key
```

### In SQL Console as DBADMIN/SYSTEM

```
GRANT CATALOG READ TO BANK_DIR_MKTG;
GRANT AFLPM_CREATOR_ERASER_EXECUTE TO BANK_DIR_MKTG;
GRANT AFL__SYS_AFL_AFLPAL_EXECUTE TO BANK_DIR_MKTG;
```

## Edit e2edata.ini

host -> url

port -> port

user -> user

password -> passwd

schema -> schema

certificate -> cert

```
cf service-key BANK_DIR_MKTG BANK_Key | grep certificate | cut -f 2 -d ':' | cut -f 1 -d ',' | tr -ds '\\n' ''
```

In [27]:
cert = "-----BEGIN CERTIFICATE-----MIIDrzCCApegAwIBAgIQCDvgVpBCRrGhdWrJWZHHSjANBgkqhkiG9w0BAQUFADBhMQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3d3cuZGlnaWNlcnQuY29tMSAwHgYDVQQDExdEaWdpQ2VydCBHbG9iYWwgUm9vdCBDQTAeFw0wNjExMTAwMDAwMDBaFw0zMTExMTAwMDAwMDBaMGExCzAJBgNVBAYTAlVTMRUwEwYDVQQKEwxEaWdpQ2VydCBJbmMxGTAXBgNVBAsTEHd3dy5kaWdpY2VydC5jb20xIDAeBgNVBAMTF0RpZ2lDZXJ0IEdsb2JhbCBSb290IENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4jvhEXLeqKTTo1eqUKKPC3eQyaKl7hLOllsBCSDMAZOnTjC3U/dDxGkAV53ijSLdhwZAAIEJzs4bg7/fzTtxRuLWZscFs3YnFo97nh6Vfe63SKMI2tavegw5BmV/Sl0fvBf4q77uKNd0f3p4mVmFaG5cIzJLv07A6Fpt43C/dxC//AH2hdmoRBBYMql1GNXRor5H4idq9Joz+EkIYIvUX7Q6hL+hqkpMfT7PT19sdl6gSzeRntwi5m3OFBqOasv+zbMUZBfHWymeMr/y7vrTC0LUq7dBMtoM1O/4gdW7jVg/tRvoSSiicNoxBN33shbyTApOB6jtSj1etX+jkMOvJwIDAQABo2MwYTAOBgNVHQ8BAf8EBAMCAYYwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUA95QNVbRTLtm8KPiGxvDl7I90VUwHwYDVR0jBBgwFoAUA95QNVbRTLtm8KPiGxvDl7I90VUwDQYJKoZIhvcNAQEFBQADggEBAMucN6pIExIK+t1EnE9SsPTfrgT1eXkIoyQY/EsrhMAtudXH/vTBH1jLuG2cenTnmCmrEbXjcKChzUyImZOMkXDiqw8cvpOp/2PV5Adg06O/nVsJ8dWO41P0jmP6P6fbtGbfYmbW0W5BjfIttep3Sp+dWOIrWcBAI+0tKIJFPnlUkiaY4IBIqDfv8NZ5YBberOgOzW6sRBc4L0na4UU+Krk2U886UAb3LujEV0lsYSEY1QSteDwsOoBrp+uvFRTp2InBuThs4pFsiv9kuXclVzDAGySj4dzp30d8tbQkCAUw7C29C79Fv1C5qfPrmAESrciIxpg0X40KPMbp1ZWVbd4=-----END CERTIFICATE-----"

In [28]:
#connection_context = dataframe.ConnectionContext(url, port, user, pwd)

## Connect Method and Python Connection Properties

https://help.sap.com/viewer/0eec0d68141541d1b07893a39944924e/latest/en-US/ee592e89dcce4480a99571a4ae7a702f.html

In [29]:
connection_context = dataframe.ConnectionContext(address=url, port=int(port), user=user, password=pwd, currentSchema=schema, encrypt="true", sslValidateCertificate="true", sslCryptoProvider="openssl", sslTrustStore=cert)

In [30]:
full_tbl, training_tbl, validation_tbl, test_tbl = DataSets.load_bank_data(connection_context)

ERROR:hana_ml.dataframe:Failed to get row count for the current Dataframe, (259, 'invalid table name:  Could not find table/view DBM2_RFULL_TBL in schema BANK_DIR_MKTG: line 1 col 37 (at pos 36)')
Table DBM2_RFULL_TBL doesn't exist in schema BANK_DIR_MKTG
Creating table DBM2_RFULL_TBL in schema BANK_DIR_MKTG ....
Drop unsuccessful
Creating table BANK_DIR_MKTG.DBM2_RFULL_TBL
Drop unsuccessful
Creating table BANK_DIR_MKTG.DBM2_RTRAINING_TBL
Drop unsuccessful
Creating table BANK_DIR_MKTG.DBM2_RVALIDATION_TBL
Drop unsuccessful
Creating table BANK_DIR_MKTG.DBM2_RTEST_TBL
Data Loaded:24%
Data Loaded:48%
Data Loaded:72%
Data Loaded:97%
Data Loaded:100%

# Create Data Frames
Create the data frames for the full, test, training, and validation sets.

Let us also do some data exploration.

## Define Datasets - Training, validation, and test sets
Data frames are used keep references to data so computation on large data sets in HANA can happen in HANA.  Trying to bring the entire data set into the client will likely result in out of memory exceptions.

The original/full dataset is split into training, test and validation sets.  In the example below, they reside in different tables.

In [31]:
#ping ld5501.wdf.sap.corp
#from pythonping import ping
#ping('ld5501.wdf.sap.corp', verbose=True)

In [32]:
full_set = connection_context.table(full_tbl)

In [33]:
training_set = connection_context.table(training_tbl)

In [34]:
validation_set = connection_context.table(validation_tbl)

In [35]:
test_set = connection_context.table(test_tbl)

## Simple Exploration
Let us look at the number of rows in the data set

In [36]:
print('Number of rows in full set: {}'.format(full_set.count()))
print('Number of rows in training set: {}'.format(training_set.count()))
print('Number of rows in validation set: {}'.format(validation_set.count()))
print('Number of rows in test set: {}'.format(test_set.count()))

Number of rows in full set: 41188
Number of rows in training set: 20594
Number of rows in validation set: 16475
Number of rows in test set: 4119

Let's look at the columns

In [ ]:
#ping ld5501.wdf.sap.corp

Let's look at the data types

In [37]:
full_set.dtypes()

[('ID', 'INT', 10, 10, 10, 0),
 ('AGE', 'INT', 10, 10, 10, 0),
 ('JOB', 'NVARCHAR', 256, 256, 256, 0),
 ('MARITAL', 'NVARCHAR', 100, 100, 100, 0),
 ('EDUCATION', 'NVARCHAR', 256, 256, 256, 0),
 ('DBM_DEFAULT', 'NVARCHAR', 100, 100, 100, 0),
 ('HOUSING', 'NVARCHAR', 100, 100, 100, 0),
 ('LOAN', 'NVARCHAR', 100, 100, 100, 0),
 ('CONTACT', 'NVARCHAR', 100, 100, 100, 0),
 ('DBM_MONTH', 'NVARCHAR', 100, 100, 100, 0),
 ('DAY_OF_WEEK', 'NVARCHAR', 100, 100, 100, 0),
 ('DURATION', 'DOUBLE', 15, 15, 15, 0),
 ('CAMPAIGN', 'INT', 10, 10, 10, 0),
 ('PDAYS', 'INT', 10, 10, 10, 0),
 ('PREVIOUS', 'INT', 10, 10, 10, 0),
 ('POUTCOME', 'NVARCHAR', 100, 100, 100, 0),
 ('EMP_VAR_RATE', 'DOUBLE', 15, 15, 15, 0),
 ('CONS_PRICE_IDX', 'DOUBLE', 15, 15, 15, 0),
 ('CONS_CONF_IDX', 'DOUBLE', 15, 15, 15, 0),
 ('EURIBOR3M', 'DOUBLE', 15, 15, 15, 0),
 ('NREMPLOYED', 'INT', 10, 10, 10, 0),
 ('LABEL', 'NVARCHAR', 10, 10, 10, 0)]

In [38]:
features = ['AGE','JOB','MARITAL','EDUCATION','DBM_DEFAULT', 'HOUSING','LOAN','CONTACT','DBM_MONTH','DAY_OF_WEEK','DURATION','CAMPAIGN','PDAYS','PREVIOUS','POUTCOME','EMP_VAR_RATE','CONS_PRICE_IDX','CONS_CONF_IDX','EURIBOR3M','NREMPLOYED']
label = "LABEL"

### Let us look at some rows

In [39]:
training_set.head(5).collect()

,ID,AGE,JOB,MARITAL,EDUCATION,DBM_DEFAULT,HOUSING,LOAN,CONTACT,DBM_MONTH,...,CAMPAIGN,PDAYS,PREVIOUS,POUTCOME,EMP_VAR_RATE,CONS_PRICE_IDX,CONS_CONF_IDX,EURIBOR3M,NREMPLOYED,LABEL
0,8746,54,admin.,married,high.school,no,yes,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228,no
1,8041,36,housemaid,married,high.school,no,yes,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.865,5228,no
2,8214,38,technician,married,basic.9y,no,yes,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228,no
3,9441,42,blue-collar,married,basic.9y,unknown,no,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228,no
4,8272,39,admin.,married,university.degree,no,no,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228,no

In [40]:
training_set.filter("\"LABEL\"='yes'").head(5).collect()

,ID,AGE,JOB,MARITAL,EDUCATION,DBM_DEFAULT,HOUSING,LOAN,CONTACT,DBM_MONTH,...,CAMPAIGN,PDAYS,PREVIOUS,POUTCOME,EMP_VAR_RATE,CONS_PRICE_IDX,CONS_CONF_IDX,EURIBOR3M,NREMPLOYED,LABEL
0,9651,36,technician,married,high.school,no,no,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228,yes
1,9102,39,services,married,high.school,no,yes,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.967,5228,yes
2,8608,33,unemployed,married,basic.9y,no,no,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228,yes
3,8805,42,blue-collar,married,basic.4y,unknown,yes,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228,yes
4,14756,24,blue-collar,married,basic.9y,unknown,no,no,cellular,jul,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228,yes

# Create Model and Tune Hyperparameters
Try different hyperparameters and see what parameter is best.
The results are stored in a list called res which can then be used to visualize the results.

_The variable "quick" is to run the tests for only a few values to avoid running the code below for a long time._

[hana_ml docs](https://help.sap.com/doc/1d0ebfe5e8dd44d09606814d83308d4b/2.0.05/en-US/index.html)

[LogisticRegression Docs](https://help.sap.com/doc/1d0ebfe5e8dd44d09606814d83308d4b/2.0.05/en-US/hana_ml.algorithms.pal.html?highlight=logisticregression#hana_ml.algorithms.pal.linear_model.LogisticRegression)

In [41]:
quick = True
enet_lambdas = np.linspace(0.01,0.02, endpoint=False, num=1) if quick else np.append(np.linspace(0.01,0.02, endpoint=False, num=4), np.linspace(0.02,0.02, num=5))
enet_alphas = np.linspace(0, 1, num=4) if quick else np.linspace(0, 1, num=40)
res = []
for enet_alpha in enet_alphas:
    for enet_lambda in enet_lambdas:
        lr = linear_model.LogisticRegression(connection_context, solver='Cyclical', tol=0.000001, max_iter=10000, 
                                               stat_inf=True,pmml_export='multi-row', lamb=enet_lambda, alpha=enet_alpha,
                                               class_map0='no', class_map1='yes')
        lr.fit(training_set, features=features, label=label)
        accuracy_val = lr.score(validation_set, 'ID', features, label)
        res.append((enet_alpha, enet_lambda, accuracy_val, lr.coef_))

TypeError: __init__() got an unexpected keyword argument 'lamb'

## Graph the results
Plot the accuracy on the validation set against the hyperparameters.

This is only done if all the combinations are tried.

In [ ]:
# import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
%matplotlib inline
if not quick:
    arry = np.asarray(res)
    fig = plt.figure(figsize=(10,10))
    plt.title("Validation accuracy for training set with different lambdas")
    ax = fig.add_subplot(111)
    most_accurate_lambda = arry[np.argmax(arry[:,2]),1]
    best_accuracy_arg = np.argmax(arry[:,2])
    for lamda in enet_lambdas:
        if lamda == most_accurate_lambda:
            ax.plot(arry[arry[:,1]==lamda][:,0], arry[arry[:,1]==lamda][:,2], label="%.3f" % round(lamda,3), linewidth=5, c='r')
        else:
            ax.plot(arry[arry[:,1]==lamda][:,0], arry[arry[:,1]==lamda][:,2], label="%.3f" % round(lamda,3))
    plt.legend(loc=1, title="Legend (Lambda)", fancybox=True, fontsize=12)
    ax.set_xlabel('Alpha', fontsize=12)
    ax.set_ylabel('Accuracy', fontsize=12)
    plt.xticks(fontsize=12)
    plt.yticks(fontsize=12)
    plt.grid()
    plt.show()
    print("Best accuracy: %.4f" % (arry[best_accuracy_arg][2]))
    print("Value of alpha for maximum accuracy: %.3f\nValue of lambda for maximum accuracy: %.3f\n" % (arry[best_accuracy_arg][0], arry[best_accuracy_arg][1]))
else:
    display(Image('images/bank-data-hyperparameter-tuning.png', width=800, unconfined=True))
    print("Best accuracy: 0.9148")
    print("Value of alpha for maximum accuracy: 0.769")
    print("Value of lambda for maximum accuracy: 0.010")

# Predictions on test set
Let us do the predictions on the test set using these values of alpha and lambda

In [ ]:
alpha = 0.769
lamda = 0.01
lr = linear_model.LogisticRegression(connection_context, solver='Cyclical', tol=0.000001, max_iter=10000, 
                                       stat_inf=True,pmml_export='multi-row', lamb=lamda, alpha=alpha,
                                       class_map0='no', class_map1='yes')
lr.fit(training_set, features=features, label=label)

## Look at the coefficients
The coefficients are again a data frame. So, we sort and get the top 5.

In [ ]:
lr.coef_.sort("COEFFICIENT", desc=True).head(5).collect()

## Look at the predictions

In [ ]:
result_df = lr.predict(test_set, 'ID')
result_df.filter('"CLASS"=\'no\'').head(5).collect()

In [ ]:
result_df.filter('"CLASS"=\'yes\'').head(5).collect()

## What about the final score?

In [ ]:
lr.score(test_set, 'ID')